URI/.vscode/launch.json
URI/.vscode/tasks.json
URI/Teste
URI/2925
URI/a.out
URI/1564
a.out
.vscode/settings.json
a.exe
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
CodeForces/ListaExercicios2/E
CodeForces/Treinamento3/E.exe
